services:
  mysql:
    image: mysql:8.4
    container_name: auth-mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 3s
      retries: 20

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: auth-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_DEFAULT_VHOST}
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 20

#  auth-platform:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    container_name: auth-platform
#    depends_on:
#      mysql:
#        condition: service_healthy
#      rabbitmq:
#        condition: service_healthy
#    environment:
#      SPRING_PROFILES_ACTIVE: docker
#
#      DB_URL: jdbc:mysql://mysql:3306/${MYSQL_DATABASE}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
#      DB_USER: ${MYSQL_USER}
#      DB_PASSWORD: ${MYSQL_PASSWORD}
#
#      RABBIT_HOST: rabbitmq
#      RABBIT_PORT: 5672
#      RABBIT_USER: ${RABBITMQ_DEFAULT_USER}
#      RABBIT_PASSWORD: ${RABBITMQ_DEFAULT_PASS}
#      RABBIT_VHOST: ${RABBITMQ_DEFAULT_VHOST}
#
#      SERVER_PORT: 8080
#    ports:
#      - "8080:8080"

volumes:
  mysql_data:
